@font-face {
    font-family: 'DINPro'; 
    src: url('fonts/DINPro-regular.otf'); 
   }
        .container {
 position: fixed;
 width: 1440px;
 height: 900px;
        }
        
        p{
font-family: DINPro; 
position: absolute;
margin: 0;
width: 227px;
height: 36px;
left: 129px;
top: 713px;
font-size: 28px;
line-height: 36px;
color: #FFFFFF;
         }
        
        p+p{
font-family: DINPro; 
position: absolute;
margin: 0;
width: 274px;
height: 36px;
left: 1058px;
top: 713px;
font-size: 28px;
line-height: 36px;
color: #FFFFFF;
           }
        
        p+p+p{
position: absolute;
width: 604px;
height: 210px;
left: 116px;
top: 68px;
font-weight: 500;
font-size: 163px;
line-height: 210px;
color: #FFFFFF;      
        }
        
        p+p+p+p{
position: absolute;
width: 381px;
height: 124px;
left: 129px;
top: 296px;
font-weight: 500;
font-size: 48px;
line-height: 62px;
color: #FFFFFF;
        }
        
        .time{
position: absolute;
width: 883.44px;
height: 547.98px;
left: 591px;
top: 132px;
}
        
        .tube{
position: absolute;
width: 1040px;
        }
        
        .logo{
    position: absolute;
    width: 168px;
    left: 630px;
    top: 241px;
            }
        
           .circle {
                position: absolute; 
                border-radius: 50%;
                background: #1D1E23;
                width: 560px;
                height: 560px;
                left: 440px;
                top: 121px;
                         }
        
        .hole {
      position: absolute;
      border-radius: 50%;
      background: #050505;
      width: 560px;
      height: 560px;
      left: 440px;
      top: 121px;  
      box-shadow: -2px 1px 30px -5px rgba(236, 103, 58, 0.3);
        }
       
        .ears {
      position: absolute;
      background: #050505;
      width: 118px;
      height: 600px;
      left: 225px;
      top: -20px;
      }
        
/*        .animate__zoomOut {*/
         animation-name: zoomOut;   
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
        
/*            @keyframes zoomOut {*/
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    transform: scale(.3);
  }

  100% {}
  }

        
/*        .absolute-bg {*/
position: absolute;
top: 0;
left: 0;
z-index: 0;
height: 100%;
width: 100%;
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
/*}*/
/*.fog {*/
position: relative;
height: 100vh;
width: 100%;
background-color: #000;
}
/*.fog__container {*/
position: absolute;
height: 100%;
width: 100%;
overflow: hidden;
}
/*        .fog__img {*/
position: absolute;
height: 100vh;
width: 300vw;
}
/*.fog__img--first {*/
background: url("images/fog-1%C2%A0%E2%80%94%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png") repeat-x;
background-size: contain;
background-position: center;

}
/*.fog__img--second {*/
background: url("images/fog-2%C2%A0%E2%80%94%20%D0%BA%D0%BE%D0%BF%D0%B8%D1%8F.png") repeat-x;
background-size: contain;
background-position: center;
animation: marquee 40s linear infinite;
}
/* @keyframes marquee {*/
0% {
transform: translate3d(0, 0, 0);
}
100% {
transform: translate3d(-200vw, 0, 0);
}
}